<section>
  <h1>Input (cek-input)</h1>

  <cek-details name="accordion-1" open summary="First Home">
    <ul>
      <li>your home is newly constructed and has a total value of less than $600,000</li>
      <li>the land and the dwelling you intend to build has a combined value of less than $750,000.</li>
    </ul>
  </cek-details>
  <cek-details name="accordion-1" summary="HomeBuilder program">
    <ul>
      <li>sign the contract between 4 June 2020 and 31 December 2020</li>
      <li>commence within 3 months of the contract date.</li>
    </ul>
    <p>HomeBuilder complements the NSW Government’s existing First Home Owner Grant and stamp duty concessions.
    </p>
  </cek-details>
</section>