.flex {
	display: flex;
}

@media (min-width: 40em) {
	.sm-flex {
		display: flex;
	}
}

@media (min-width: 52em) {
	.md-flex {
		display: flex;
	}
}

@media (min-width: 64em) {
	.lg-flex {
		display: flex;
	}
}

.flex-row {
	flex-direction: row;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.items-stretch {
	align-items: stretch;
}

.content-start {
	align-content: flex-start;
}

.content-end {
	align-content: flex-end;
}

.content-center {
	align-content: center;
}

.content-between {
	align-content: space-between;
}

.content-around {
	align-content: space-around;
}

.content-stretch {
	align-content: stretch;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.flex-auto {
	flex: 1 1 auto;
	min-width: 0;
	min-height: 0;
}

.flex-none {
	flex: none;
}

.gap-0 {
	gap: 0;
}

.gap-1 {
	gap: var(--cek-space-1);
}

.gap-2 {
	gap: var(--cek-space-2);
}

.gap-3 {
	gap: var(--cek-space-3);
}

.gap-4 {
	gap: var(--cek-space-4);
}

.gap-5 {
	gap: var(--cek-space-5);
}

.gap-6 {
	gap: var(--cek-space-6);
}

.gap-7 {
	gap: var(--cek-space-7);
}

.gap-8 {
	gap: var(--cek-space-8);
}

.gap-9 {
	gap: var(--cek-space-9);
}

.gap-10 {
	gap: var(--cek-space-10);
}

.gap-11 {
	gap: var(--cek-space-11);
}

.gap-12 {
	gap: var(--cek-space-12);
}

.gap-13 {
	gap: var(--cek-space-13);
}

.gap-14 {
	gap: var(--cek-space-14);
}

.grid {
	display: grid;
}

.inline-grid {
	display: inline-grid;
}

@media (min-width: 40em) {
	.sm-grid {
		display: grid;
	}
}

@media (min-width: 52em) {
	.md-grid {
		display: grid;
	}
}

@media (min-width: 64em) {
	.lg-grid {
		display: grid;
	}
}

.grid-auto-flow-row {
	grid-auto-flow: row;
}

.grid-auto-flow-column {
	grid-auto-flow: column;
}

.grid-auto-flow-dense {
	grid-auto-flow: dense;
}

.grid-auto-flow-row-dense {
	grid-auto-flow: row dense;
}

.grid-auto-flow-column-dense {
	grid-auto-flow: column dense;
}

.grid-gap-0 {
	gap: 0;
}

.grid-gap-1 {
	gap: var(--cek-space-1);
}

.grid-gap-2 {
	gap: var(--cek-space-2);
}

.grid-gap-3 {
	gap: var(--cek-space-3);
}

.grid-gap-4 {
	gap: var(--cek-space-4);
}

.grid-gap-5 {
	gap: var(--cek-space-5);
}

.grid-gap-6 {
	gap: var(--cek-space-6);
}

.grid-gap-7 {
	gap: var(--cek-space-7);
}

.grid-gap-8 {
	gap: var(--cek-space-8);
}

.grid-gap-9 {
	gap: var(--cek-space-9);
}

.grid-gap-10 {
	gap: var(--cek-space-10);
}

.grid-gap-11 {
	gap: var(--cek-space-11);
}

.grid-gap-12 {
	gap: var(--cek-space-12);
}

.grid-gap-13 {
	gap: var(--cek-space-13);
}

.grid-gap-14 {
	gap: var(--cek-space-14);
}

.grid-column-gap-0 {
	column-gap: 0;
}

.grid-column-gap-1 {
	column-gap: var(--cek-space-1);
}

.grid-column-gap-2 {
	column-gap: var(--cek-space-2);
}

.grid-column-gap-3 {
	column-gap: var(--cek-space-3);
}

.grid-column-gap-4 {
	column-gap: var(--cek-space-4);
}

.grid-column-gap-5 {
	column-gap: var(--cek-space-5);
}

.grid-column-gap-6 {
	column-gap: var(--cek-space-6);
}

.grid-column-gap-7 {
	column-gap: var(--cek-space-7);
}

.grid-column-gap-8 {
	column-gap: var(--cek-space-8);
}

.grid-column-gap-9 {
	column-gap: var(--cek-space-9);
}

.grid-column-gap-10 {
	column-gap: var(--cek-space-10);
}

.grid-column-gap-11 {
	column-gap: var(--cek-space-11);
}

.grid-column-gap-12 {
	column-gap: var(--cek-space-12);
}

.grid-column-gap-13 {
	column-gap: var(--cek-space-13);
}

.grid-column-gap-14 {
	column-gap: var(--cek-space-14);
}

.grid-row-gap-0 {
	row-gap: 0;
}

.grid-row-gap-1 {
	row-gap: var(--cek-space-1);
}

.grid-row-gap-2 {
	row-gap: var(--cek-space-2);
}

.grid-row-gap-3 {
	row-gap: var(--cek-space-3);
}

.grid-row-gap-4 {
	row-gap: var(--cek-space-4);
}

.grid-row-gap-5 {
	row-gap: var(--cek-space-5);
}

.grid-row-gap-6 {
	row-gap: var(--cek-space-6);
}

.grid-row-gap-7 {
	row-gap: var(--cek-space-7);
}

.grid-row-gap-8 {
	row-gap: var(--cek-space-8);
}

.grid-row-gap-9 {
	row-gap: var(--cek-space-9);
}

.grid-row-gap-10 {
	row-gap: var(--cek-space-10);
}

.grid-row-gap-11 {
	row-gap: var(--cek-space-11);
}

.grid-row-gap-12 {
	row-gap: var(--cek-space-12);
}

.grid-row-gap-13 {
	row-gap: var(--cek-space-13);
}

.grid-row-gap-14 {
	row-gap: var(--cek-space-14);
}


.padding-0 {
	padding: 0;
}

.padding-1 {
	padding: var(--cek-space-1);
}

.padding-2 {
	padding: var(--cek-space-2);
}

.padding-3 {
	padding: var(--cek-space-3);
}

.padding-4 {
	padding: var(--cek-space-4);
}

.padding-5 {
	padding: var(--cek-space-5);
}

.padding-6 {
	padding: var(--cek-space-6);
}

.padding-7 {
	padding: var(--cek-space-7);
}

.padding-8 {
	padding: var(--cek-space-8);
}

.padding-9 {
	padding: var(--cek-space-9);
}

.padding-10 {
	padding: var(--cek-space-10);
}

.padding-11 {
	padding: var(--cek-space-11);
}

.padding-12 {
	padding: var(--cek-space-12);
}

.padding-13 {
	padding: var(--cek-space-13);
}

.padding-14 {
	padding: var(--cek-space-14);
}

.padding-inline-0 {
	padding-inline: 0;
}

.padding-inline-1 {
	padding-inline: var(--cek-space-1);
}

.padding-inline-2 {
	padding-inline: var(--cek-space-2);
}

.padding-inline-3 {
	padding-inline: var(--cek-space-3);
}

.padding-inline-4 {
	padding-inline: var(--cek-space-4);
}

.padding-inline-5 {
	padding-inline: var(--cek-space-5);
}

.padding-inline-6 {
	padding-inline: var(--cek-space-6);
}

.padding-inline-7 {
	padding-inline: var(--cek-space-7);
}

.padding-inline-8 {
	padding-inline: var(--cek-space-8);
}

.padding-inline-9 {
	padding-inline: var(--cek-space-9);
}

.padding-inline-10 {
	padding-inline: var(--cek-space-10);
}

.padding-inline-11 {
	padding-inline: var(--cek-space-11);
}

.padding-inline-12 {
	padding-inline: var(--cek-space-12);
}

.padding-inline-13 {
	padding-inline: var(--cek-space-13);
}

.padding-inline-14 {
	padding-inline: var(--cek-space-14);
}

.padding-inline-start-0 {
	padding-inline-start: 0;
}

.padding-inline-start-1 {
	padding-inline-start: var(--cek-space-1);
}

.padding-inline-start-2 {
	padding-inline-start: var(--cek-space-2);
}

.padding-inline-start-3 {
	padding-inline-start: var(--cek-space-3);
}

.padding-inline-start-4 {
	padding-inline-start: var(--cek-space-4);
}

.padding-inline-start-5 {
	padding-inline-start: var(--cek-space-5);
}

.padding-inline-start-6 {
	padding-inline-start: var(--cek-space-6);
}

.padding-inline-start-7 {
	padding-inline-start: var(--cek-space-7);
}

.padding-inline-start-8 {
	padding-inline-start: var(--cek-space-8);
}

.padding-inline-start-9 {
	padding-inline-start: var(--cek-space-9);
}

.padding-inline-start-10 {
	padding-inline-start: var(--cek-space-10);
}

.padding-inline-start-11 {
	padding-inline-start: var(--cek-space-11);
}

.padding-inline-start-12 {
	padding-inline-start: var(--cek-space-12);
}

.padding-inline-start-13 {
	padding-inline-start: var(--cek-space-13);
}

.padding-inline-start-14 {
	padding-inline-start: var(--cek-space-14);
}

/* Padding Inline End */
.padding-inline-end-0 {
	padding-inline-end: 0;
}

.padding-inline-end-1 {
	padding-inline-end: var(--cek-space-1);
}

.padding-inline-end-2 {
	padding-inline-end: var(--cek-space-2);
}

.padding-inline-end-3 {
	padding-inline-end: var(--cek-space-3);
}

.padding-inline-end-4 {
	padding-inline-end: var(--cek-space-4);
}

.padding-inline-end-5 {
	padding-inline-end: var(--cek-space-5);
}

.padding-inline-end-6 {
	padding-inline-end: var(--cek-space-6);
}

.padding-inline-end-7 {
	padding-inline-end: var(--cek-space-7);
}

.padding-inline-end-8 {
	padding-inline-end: var(--cek-space-8);
}

.padding-inline-end-9 {
	padding-inline-end: var(--cek-space-9);
}

.padding-inline-end-10 {
	padding-inline-end: var(--cek-space-10);
}

.padding-inline-end-11 {
	padding-inline-end: var(--cek-space-11);
}

.padding-inline-end-12 {
	padding-inline-end: var(--cek-space-12);
}

.padding-inline-end-13 {
	padding-inline-end: var(--cek-space-13);
}

.padding-inline-end-14 {
	padding-inline-end: var(--cek-space-14);
}

/* Padding Block */
.padding-block-0 {
	padding-block: 0;
}

.padding-block-1 {
	padding-block: var(--cek-space-1);
}

.padding-block-2 {
	padding-block: var(--cek-space-2);
}

.padding-block-3 {
	padding-block: var(--cek-space-3);
}

.padding-block-4 {
	padding-block: var(--cek-space-4);
}

.padding-block-5 {
	padding-block: var(--cek-space-5);
}

.padding-block-6 {
	padding-block: var(--cek-space-6);
}

.padding-block-7 {
	padding-block: var(--cek-space-7);
}

.padding-block-8 {
	padding-block: var(--cek-space-8);
}

.padding-block-9 {
	padding-block: var(--cek-space-9);
}

.padding-block-10 {
	padding-block: var(--cek-space-10);
}

.padding-block-11 {
	padding-block: var(--cek-space-11);
}

.padding-block-12 {
	padding-block: var(--cek-space-12);
}

.padding-block-13 {
	padding-block: var(--cek-space-13);
}

.padding-block-14 {
	padding-block: var(--cek-space-14);
}

/* Padding Block Start */
.padding-block-start-0 {
	padding-block-start: 0;
}

.padding-block-start-1 {
	padding-block-start: var(--cek-space-1);
}

.padding-block-start-2 {
	padding-block-start: var(--cek-space-2);
}

.padding-block-start-3 {
	padding-block-start: var(--cek-space-3);
}

.padding-block-start-4 {
	padding-block-start: var(--cek-space-4);
}

.padding-block-start-5 {
	padding-block-start: var(--cek-space-5);
}

.padding-block-start-6 {
	padding-block-start: var(--cek-space-6);
}

.padding-block-start-7 {
	padding-block-start: var(--cek-space-7);
}

.padding-block-start-8 {
	padding-block-start: var(--cek-space-8);
}

.padding-block-start-9 {
	padding-block-start: var(--cek-space-9);
}

.padding-block-start-10 {
	padding-block-start: var(--cek-space-10);
}

.padding-block-start-11 {
	padding-block-start: var(--cek-space-11);
}

.padding-block-start-12 {
	padding-block-start: var(--cek-space-12);
}

.padding-block-start-13 {
	padding-block-start: var(--cek-space-13);
}

.padding-block-start-14 {
	padding-block-start: var(--cek-space-14);
}

/* Padding Block End */
.padding-block-end-0 {
	padding-block-end: 0;
}

.padding-block-end-1 {
	padding-block-end: var(--cek-space-1);
}

.padding-block-end-2 {
	padding-block-end: var(--cek-space-2);
}

.padding-block-end-3 {
	padding-block-end: var(--cek-space-3);
}

.padding-block-end-4 {
	padding-block-end: var(--cek-space-4);
}

.padding-block-end-5 {
	padding-block-end: var(--cek-space-5);
}

.padding-block-end-6 {
	padding-block-end: var(--cek-space-6);
}

.padding-block-end-7 {
	padding-block-end: var(--cek-space-7);
}

.padding-block-end-8 {
	padding-block-end: var(--cek-space-8);
}

.padding-block-end-9 {
	padding-block-end: var(--cek-space-9);
}

.padding-block-end-10 {
	padding-block-end: var(--cek-space-10);
}

.padding-block-end-11 {
	padding-block-end: var(--cek-space-11);
}

.padding-block-end-12 {
	padding-block-end: var(--cek-space-12);
}

.padding-block-end-13 {
	padding-block-end: var(--cek-space-13);
}

.padding-block-end-14 {
	padding-block-end: var(--cek-space-14);
}

.margin-0 {
	margin: 0;
}

.margin-1 {
	margin: var(--cek-space-1);
}

.margin-2 {
	margin: var(--cek-space-2);
}

.margin-3 {
	margin: var(--cek-space-3);
}

.margin-4 {
	margin: var(--cek-space-4);
}

.margin-5 {
	margin: var(--cek-space-5);
}

.margin-6 {
	margin: var(--cek-space-6);
}

.margin-7 {
	margin: var(--cek-space-7);
}

.margin-8 {
	margin: var(--cek-space-8);
}

.margin-9 {
	margin: var(--cek-space-9);
}

.margin-10 {
	margin: var(--cek-space-10);
}

.margin-11 {
	margin: var(--cek-space-11);
}

.margin-12 {
	margin: var(--cek-space-12);
}

.margin-13 {
	margin: var(--cek-space-13);
}

.margin-14 {
	margin: var(--cek-space-14);
}

.margin-inline-0 {
	margin-inline: 0;
}

.margin-inline-1 {
	margin-inline: var(--cek-space-1);
}

.margin-inline-2 {
	margin-inline: var(--cek-space-2);
}

.margin-inline-3 {
	margin-inline: var(--cek-space-3);
}

.margin-inline-4 {
	margin-inline: var(--cek-space-4);
}

.margin-inline-5 {
	margin-inline: var(--cek-space-5);
}

.margin-inline-6 {
	margin-inline: var(--cek-space-6);
}

.margin-inline-7 {
	margin-inline: var(--cek-space-7);
}

.margin-inline-8 {
	margin-inline: var(--cek-space-8);
}

.margin-inline-9 {
	margin-inline: var(--cek-space-9);
}

.margin-inline-10 {
	margin-inline: var(--cek-space-10);
}

.margin-inline-11 {
	margin-inline: var(--cek-space-11);
}

.margin-inline-12 {
	margin-inline: var(--cek-space-12);
}

.margin-inline-13 {
	margin-inline: var(--cek-space-13);
}

.margin-inline-14 {
	margin-inline: var(--cek-space-14);
}

/* Margin Inline Start */
.margin-inline-start-0 {
	margin-inline-start: 0;
}

.margin-inline-start-1 {
	margin-inline-start: var(--cek-space-1);
}

.margin-inline-start-2 {
	margin-inline-start: var(--cek-space-2);
}

.margin-inline-start-3 {
	margin-inline-start: var(--cek-space-3);
}

.margin-inline-start-4 {
	margin-inline-start: var(--cek-space-4);
}

.margin-inline-start-5 {
	margin-inline-start: var(--cek-space-5);
}

.margin-inline-start-6 {
	margin-inline-start: var(--cek-space-6);
}

.margin-inline-start-7 {
	margin-inline-start: var(--cek-space-7);
}

.margin-inline-start-8 {
	margin-inline-start: var(--cek-space-8);
}

.margin-inline-start-9 {
	margin-inline-start: var(--cek-space-9);
}

.margin-inline-start-10 {
	margin-inline-start: var(--cek-space-10);
}

.margin-inline-start-11 {
	margin-inline-start: var(--cek-space-11);
}

.margin-inline-start-12 {
	margin-inline-start: var(--cek-space-12);
}

.margin-inline-start-13 {
	margin-inline-start: var(--cek-space-13);
}

.margin-inline-start-14 {
	margin-inline-start: var(--cek-space-14);
}

.margin-inline-end-0 {
	margin-inline-end: 0;
}

.margin-inline-end-1 {
	margin-inline-end: var(--cek-space-1);
}

.margin-inline-end-2 {
	margin-inline-end: var(--cek-space-2);
}

.margin-inline-end-3 {
	margin-inline-end: var(--cek-space-3);
}

.margin-inline-end-4 {
	margin-inline-end: var(--cek-space-4);
}

.margin-inline-end-5 {
	margin-inline-end: var(--cek-space-5);
}

.margin-inline-end-6 {
	margin-inline-end: var(--cek-space-6);
}

.margin-inline-end-7 {
	margin-inline-end: var(--cek-space-7);
}

.margin-inline-end-8 {
	margin-inline-end: var(--cek-space-8);
}

.margin-inline-end-9 {
	margin-inline-end: var(--cek-space-9);
}

.margin-inline-end-10 {
	margin-inline-end: var(--cek-space-10);
}

.margin-inline-end-11 {
	margin-inline-end: var(--cek-space-11);
}

.margin-inline-end-12 {
	margin-inline-end: var(--cek-space-12);
}

.margin-inline-end-13 {
	margin-inline-end: var(--cek-space-13);
}

.margin-inline-end-14 {
	margin-inline-end: var(--cek-space-14);
}

.margin-block-0 {
	margin-block: 0;
}

.margin-block-1 {
	margin-block: var(--cek-space-1);
}

.margin-block-2 {
	margin-block: var(--cek-space-2);
}

.margin-block-3 {
	margin-block: var(--cek-space-3);
}

.margin-block-4 {
	margin-block: var(--cek-space-4);
}

.margin-block-5 {
	margin-block: var(--cek-space-5);
}

.margin-block-6 {
	margin-block: var(--cek-space-6);
}

.margin-block-7 {
	margin-block: var(--cek-space-7);
}

.margin-block-8 {
	margin-block: var(--cek-space-8);
}

.margin-block-9 {
	margin-block: var(--cek-space-9);
}

.margin-block-10 {
	margin-block: var(--cek-space-10);
}

.margin-block-11 {
	margin-block: var(--cek-space-11);
}

.margin-block-12 {
	margin-block: var(--cek-space-12);
}

.margin-block-13 {
	margin-block: var(--cek-space-13);
}

.margin-block-14 {
	margin-block: var(--cek-space-14);
}

.margin-block-start-0 {
	margin-block-start: 0;
}

.margin-block-start-1 {
	margin-block-start: var(--cek-space-1);
}

.margin-block-start-2 {
	margin-block-start: var(--cek-space-2);
}

.margin-block-start-3 {
	margin-block-start: var(--cek-space-3);
}

.margin-block-start-4 {
	margin-block-start: var(--cek-space-4);
}

.margin-block-start-5 {
	margin-block-start: var(--cek-space-5);
}

.margin-block-start-6 {
	margin-block-start: var(--cek-space-6);
}

.margin-block-start-7 {
	margin-block-start: var(--cek-space-7);
}

.margin-block-start-8 {
	margin-block-start: var(--cek-space-8);
}

.margin-block-start-9 {
	margin-block-start: var(--cek-space-9);
}

.margin-block-start-10 {
	margin-block-start: var(--cek-space-10);
}

.margin-block-start-11 {
	margin-block-start: var(--cek-space-11);
}

.margin-block-start-12 {
	margin-block-start: var(--cek-space-12);
}

.margin-block-start-13 {
	margin-block-start: var(--cek-space-13);
}

.margin-block-start-14 {
	margin-block-start: var(--cek-space-14);
}

.margin-block-end-0 {
	margin-block-end: 0;
}

.margin-block-end-1 {
	margin-block-end: var(--cek-space-1);
}

.margin-block-end-2 {
	margin-block-end: var(--cek-space-2);
}

.margin-block-end-3 {
	margin-block-end: var(--cek-space-3);
}

.margin-block-end-4 {
	margin-block-end: var(--cek-space-4);
}

.margin-block-end-5 {
	margin-block-end: var(--cek-space-5);
}

.margin-block-end-6 {
	margin-block-end: var(--cek-space-6);
}

.margin-block-end-7 {
	margin-block-end: var(--cek-space-7);
}

.margin-block-end-8 {
	margin-block-end: var(--cek-space-8);
}

.margin-block-end-9 {
	margin-block-end: var(--cek-space-9);
}

.margin-block-end-10 {
	margin-block-end: var(--cek-space-10);
}

.margin-block-end-11 {
	margin-block-end: var(--cek-space-11);
}

.margin-block-end-12 {
	margin-block-end: var(--cek-space-12);
}

.margin-block-end-13 {
	margin-block-end: var(--cek-space-13);
}

.margin-block-end-14 {
	margin-block-end: var(--cek-space-14);
}