body {
	background-color: var(--cek-surface-color-0);
	color: var(--cek-text-color-1);
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1329px;
	width: 100%;
	padding-inline: 1rem;
}

header {
	padding: 1rem;
	border-bottom: 1px solid var(--cek-border-color-4);
	width: 100%;
}

.content {
	display: flex;
}

aside {
	padding-inline: 1rem;
	width: 16rem;
}

h2 {
	padding-block: 0.8rem;
	border-bottom: 1px solid var(--cek-border-color-4);
}

main {
	flex-grow: 1;
	padding: 1rem 2rem;
	background-color: var(--cek-surface-color-0);
}

section {
	margin-bottom: 2rem;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding-block: 0.6rem;
}

a {
	color: var(--cek-text-color-2);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
