<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Element Kit</title>
  <link rel="stylesheet" href="../../core/styles.css">
  <link rel="stylesheet" href="../../core/page-layout.css">
  <script type="module" src="../../core/form-element.js"></script>
  <script type="module" src="checkbox.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <h1 class="ui-text-2">Custom Element Kit</h1>
    </header>
    <div class="content">
      <aside>
        <h2 class="ui-text-1 ui-text-bold">Getting Started</h2>
        <ul>
          <li><a href="/index.html">Getting Started</a></li>
        </ul>
        <h2 class="ui-text-1 ui-text-bold">Components</h2>
        <ul>
          <li><a href="/checkbox.html">Checkbox</a></li>
          <li><a href="/checkbox-group.html">Checkbox Group</a></li>
          <li><a href="/input.html">Input</a></li>
        </ul>
      </aside>
      <main>
        <section>
          <h1>Checkbox (ui-checkbox)</h1>

          <form novalidate>
            <ui-checkbox required value="nsw" label="nsw"></ui-checkbox>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
          </form>
        </section>
      </main>
    </div>
  </div>
</body>

</html>