<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Element Kit</title>
  <link rel="stylesheet" href="../../core/styles.css">
  <link rel="stylesheet" href="../../core/page-layout.css">
  <script type="module" src="../../core/form-element.js"></script>
  <script type="module" src="../checkbox/checkbox.js"></script>
  <script type="module" src="checkbox-group.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <h1 class="ui-text-2">Custom Element Kit</h1>
    </header>
    <div class="content">
      <aside>
        <h2 class="ui-text-1 ui-text-bold">Getting Started</h2>
        <ul>
          <li><a href="index.html">Getting Started</a></li>
        </ul>
        <h2 class="ui-text-1 ui-text-bold">Components</h2>
        <ul>
          <li><a href="checkbox.html">Checkbox</a></li>
          <li><a href="checkbox-group.html">Checkbox Group</a></li>
          <li><a href="input.html">Input</a></li>
        </ul>
      </aside>
      <main>
        <section>
          <h1>Checkbox Group (ui-checkbox-group)</h1>
          <h2 id="Validation">Validation</h2>
          <h3 id="min-selections">Validate - Min Selections (min-selections)</h3>

          <form novalidate>
            <ui-checkbox-group error="foo" min-selections="4" name="states" required
              label="States and Territories the company operates in:" help="Select all that apply.">
              <ui-checkbox value="nsw" label="nsw"></ui-checkbox>
              <ui-checkbox value="qld" label="qld"></ui-checkbox>
              <ui-checkbox value="act" label="act"></ui-checkbox>
              <ui-checkbox value="tas" label="tas"></ui-checkbox>
              <ui-checkbox value="wa" label="wa"></ui-checkbox>
              <ui-checkbox value="nt" label="nt"></ui-checkbox>
              <ui-checkbox value="vic" label="vic"></ui-checkbox>
            </ui-checkbox-group>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
          </form>
        </section>
      </main>
    </div>
  </div>
</body>

</html>