<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Code block component documentation.">
  <title>Custom Element Kit</title>
  <link rel="stylesheet" href="../../core/styles.css">
  <link rel="stylesheet" href="../../core/page-layout.css">
  <script type="module" src="code-block.js"></script>
</head>

<body>
  <div class="container">
    <header>
      <h1 class="cek-text-2">Custom Element Kit</h1>
    </header>
    <div class="content">
      <aside>
        <h2 class="cek-text-1 cek-text-bold">Getting Started</h2>
        <ul>
          <li><a href="index.html">Getting Started</a></li>
        </ul>
        <h2 class="cek-text-1 cek-text-bold">Components</h2>
        <ul>
          <li><a href="checkbox.html">Checkbox</a></li>
          <li><a href="checkbox-group.html">Checkbox Group</a></li>
          <li><a href="input.html">Input</a></li>
          <li><a href="code-block.html">Code block</a></li>
        </ul>
      </aside>
      <main>
        <section>
          <h1>Code Block (cek-code-block)</h1>
          <cek-code-block theme="github-dark" lang="javascript">
            <cek-code-block lang="rust">
              <cek-checkbox value="vic" label="vic"></cek-checkbox>
            </cek-code-block>
          </cek-code-block>
          <cek-code-block theme="github-dark" lang="go">
            package main

            import "fmt"

            func main() {
            fmt.Println("Hello, World!")
            }
          </cek-code-block>
          <cek-code-block theme="github" lang="xml">
            <cek-code-block theme="github" lang="perl">
              <cek-checkbox value="vic" label="vic">
              </cek-checkbox>
            </cek-code-block>
          </cek-code-block>
        </section>
      </main>
    </div>
  </div>
</body>

</html>